.navigation {
    display: flex;
    justify-content: center;
    padding: 35px 0px 30px 0px;
    background-color: #171A21;
}

.navigation > ul {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding-left: 0px;
}

a:hover, li:hover {
    color: #FFFFFF;
}

#logo {
    background: transparent;
    object-fit: contain;
    width: 180px;
    height: 45px;
}

#logo:hover {
    filter: invert(0.2);
}

.navigation > div {
    width: 180px;
    height: 45px;
}

li > a, li {
    font-size: 14px;
    color: #B8B6B4;
    text-decoration: none;
}